.body {
    color: var(--bg-color);
    background-color: var(--main-color);
    padding: 1rem 2rem ;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    position: absolute;
    bottom: 10rem;
    right: 10rem;
    z-index: 20;
}
.body div {
    display: flex;
    align-items: center;
    padding-right: 0.5rem;
    border-right: 2px solid var(--bg-color);
    gap: 0.5rem;
}
.body .circle {
    width: 1.4rem;
    aspect-ratio: 1/1;
    background-color: green;
    border-radius: 50%;
}
.body .circle.error {
    background-color: rgb(172, 19, 8);
}
.body p {
    font-size: 1.5rem;
    margin: 0 1rem 0 0.5rem;
}
.body .close {
    font-size: 1.6rem;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: var(--bg-color);
}