.classification {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--main-color);
    max-width: 70rem;
    color: var(--bg-color);
    margin: 8rem auto 5rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.classification a {
    padding: 0.5rem 1rem;
    font-size: 2rem;
    border-bottom: 2px solid transparent;
    border-radius: 10px;
    transition: all 0.3s ease;
}
.classification a:hover, .classification a.active {
    background-color: var(--bg-color);
    color: var(--main-color);
}

@media (max-width: 600px) {
    .classification  {
        margin: 3rem auto 2rem;
    }
    .classification a {
        font-size: 1.6rem;

    }
}