.PostPreview {
    margin-bottom: 10rem;
    background-color: var(--bg-color);
    border-radius: 10px;
    padding: 1rem;
    position: relative;
    font-size: 1.6rem;
    line-height: 1.7;
    max-width: 800px;
    margin: 2rem auto 7rem;
    color: var(--main-color) !important;
    font-family: 'Cairo', sans-serif !important;
}
.PostPreview p , .PostPreview span {
    font-size: 1.6rem;
    line-height: 1.7;
    font-family: 'Cairo', sans-serif !important;
    color: var(--main-color) !important;
}
.PostPreview a {
    font-size: 1.6rem;
    color: var(--main-color);
    transition: all 0.3s ease;
}
.PostPreview a:hover, .PostPreview a:active {
    color: var(--main-color-dark);
}
.PostPreview h2 {
    font-size: 3.2rem;
    font-weight: bold;
    text-align: center;
    background-color:var(--bg-color);
    box-shadow: 0 0 15px rgba(0,0,0, 0.7);
    padding: 1rem;
    border-radius: 10px;
    position: absolute;
    top: 18rem;
    left: 50%;
    transform: translateX(-50%);
    max-width: 50rem;
}
.PostPreview img.post-image {
    width: 100%;
    height: 40rem;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
    margin-bottom: 1rem;
}
.content img:nth-child(1) {
    display: none;
}
.PostPreview img {
    width: 100%;
}
@media (max-height: 800px), (max-width: 550px) {
    .PostPreview img.post-image {
        height: 25rem;
    }
}