.posts-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem , 1fr));
    gap: 2rem;
    /* padding: 2rem; */
    margin-bottom: 10rem;
    border-radius: 10px;
    /* background-color: var(--bg-color); */
    /* box-shadow: 0 10px 20px rgba(0,0,0, 0.5); */
}
.posts-container .spinner{
    grid-column: 1/4 ;
}
@media (max-width: 350px) {
    .posts-container {
        grid-template-columns: repeat(auto-fill, minmax(20rem , 1fr));
    }
}