:root {
--main-color: #0d3c68;
--main-color-dark: #082744;
--bg-color: #fff;
--app-color: #eee;
/* --main-color: #fff;
--main-color-dark: #eee;
--bg-color: #0d3c68;
--app-color: #082744; */
}

* {
  padding: 0 ;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html {
  font-size: 62.5%
}
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;600&family=K2D:wght@100;300;600&display=swap');

body {
  font-family: 'K2D', sans-serif;  max-width: 100vw;
  font-family: 'Cairo', sans-serif;
  color: var(--main-color);
  background-color: var(--app-color);
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--polynesian-blue);
}

.hidden {
  display: none;
}
.container  {
  max-width: 90rem;
  margin: auto;
  padding: 0 1rem;
}
button {
  border: none;
  background-color: none;
  outline: none;
  cursor: pointer;
}